<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itany.mapper.AreaMapper">

    <select id="listAreasByIds" parameterType="list" resultType="com.itany.dto.AreaDTO">
        select *
        from t_area
        where id in (
            <foreach collection="ids" item="id" separator=",">
                #{id}
            </foreach>
            )
    </select>

    <select id="listAreas" resultType="com.itany.dto.AreaDTO">
        select *
        from t_area
        where parentid is not null
    </select>
</mapper>