<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itany.mapper.NoticeMapper">

    <insert id="insertNotice">
        insert into t_notice
            (title, info, manageruserid, userid, flag, createdate)
        values
            (#{title}, #{info}, #{manageruserid}, #{userid}, #{flag}, #{createdate});
    </insert>
</mapper>