<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itany.mapper.TypeMapper">

    <select id="listTypesByIds" parameterType="list" resultType="com.itany.dto.TypeDTO">
        select *
        from t_type
        where id in (
            <foreach collection="ids" item="id" separator=",">
                #{id}
            </foreach>
            )
    </select>

    <select id="listTypeByType" resultType="com.itany.dto.TypeDTO">
        select *
        from t_type
        where type = #{type} and parentid is not null
    </select>
</mapper>