<ul class="nav">
    <li class="active">我的服务商</li>
</ul>
<div class="provider-box">
    <form class="publishing" onsubmit="return false">
        <label class="input-item input-item-block">
            <span class="user-input-label">公司名称</span>
            <div class="user-input">
                <input type="text" readonly value="增强驾校">
            </div>
        </label>
        <label class="input-item input-item-block">
            <span class="user-input-label">联系人</span>
            <div class="user-input">
                <input type="text" readonly value="张经理">
            </div>
        </label>
        <label class="input-item input-item-block">
            <span class="user-input-label">公司电话</span>
            <div class="user-input">
                <input type="text" readonly value="15333333333">
            </div>
        </label>
        <label class="input-item input-item-block">
            <span class="user-input-label">服务类型</span>
            <div class="user-input">
                <input type="text" readonly value="本地生活服务|本地商务服务">
            </div>
        </label>
        <label class="input-item input-item-block">
            <span class="user-input-label">公司规模</span>
            <div class="user-input">
                <input type="text" readonly value="500人">
            </div>
        </label>
        <label class="input-item input-item-block">
            <span class="user-input-label">公司地址</span>
            <div class="user-input">
                <input type="text" readonly value="江苏省南京市浦口区">
            </div>
        </label>
        <label class="input-item input-item-textarea">
            <div class="lable-block">
                <span class="user-input-label">公司简介</span>
            </div>
            <div class="user-input">
                <textarea cols="30" rows="10" readonly>公司简介公司简介公司简介公司简介公司简介</textarea>
            </div>
        </label>
        <div class="input-item input-item-textarea">
            <div class="lable-block">
                <span class="user-input-label">印业执照</span>
            </div>
            <div class="user-input">
                <div class="provider-img-list">
                    <img src="./assets/img/detail/car1.webp" alt="" srcset="">
                    <img src="./assets/img/detail/car2.webp" alt="" srcset="">
                </div>
            </div>
        </div>
        <div class="input-item input-item-textarea">
            <div class="lable-block">
                <span class="user-input-label">公司图片</span>
            </div>
            <div class="user-input">
                <div class="provider-img-list">
                    <img src="./assets/img/detail/car1.webp" alt="" srcset="">
                    <img src="./assets/img/detail/car2.webp" alt="" srcset="">
                    <img src="./assets/img/detail/car3.webp" alt="" srcset="">
                    <img src="./assets/img/detail/car4.webp" alt="" srcset="">
                    <img src="./assets/img/detail/car1.webp" alt="" srcset="">
                </div>
            </div>
        </div>
        <label class="input-item-btn">
            <input class="item-btn" type="button" value="返回" id="serviceBackBtn">
        </label>
    </form>
</div>
<script>
    $(function () {
        

    })
</script>