<ul class="nav">
    <li class="active">我的站内通知</li>
</ul>
<div class="message-box">
    <table class="message-table">
        <thead>
            <tr>
                <td style="width: 130px;">通知时间</td>
                <td style="width: 60px;">联系人</td>
                <td style="width: 80px;">联系电话</td>
                <td style="width: 80px;">意向城市</td>
                <td>联系信息</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2022年03月07日 13:58:15</td>
                <td>张小姐</td>
                <td>15333333333</td>
                <td>浦口,高淳,六合,溧水</td>
                <td>增驾A2B2照速捷学车 不用排队50天拿证,增驾A2B2照速捷学车 不用排队50天拿证增驾A2B2照速捷学车 不用排队50天拿证,增驾A2B2照速捷学车 不用排队50天拿证</td>
            </tr>
            <tr>
                <td>2022年03月07日 13:58:15</td>
                <td>张小姐</td>
                <td>15333333333</td>
                <td>浦口,高淳,六合,溧水</td>
                <td>增驾A2B2照速捷学车 不用排队50天拿证,增驾A2B2照速捷学车 不用排队50天拿证增驾A2B2照速捷学车 不用排队50天拿证,增驾A2B2照速捷学车 不用排队50天拿证</td>
            </tr>
            <tr>
                <td>2022年03月07日 13:58:15</td>
                <td>张小姐</td>
                <td>15333333333</td>
                <td>浦口,高淳,六合,溧水</td>
                <td>增驾A2B2照速捷学车 不用排队50天拿证,增驾A2B2照速捷学车 不用排队50天拿证增驾A2B2照速捷学车 不用排队50天拿证,增驾A2B2照速捷学车 不用排队50天拿证</td>
            </tr>
            <tr>
                <td>2022年03月07日 13:58:15</td>
                <td>张小姐</td>
                <td>15333333333</td>
                <td>浦口,高淳,六合,溧水</td>
                <td>增驾A2B2照速捷学车 不用排队50天拿证,增驾A2B2照速捷学车 不用排队50天拿证增驾A2B2照速捷学车 不用排队50天拿证,增驾A2B2照速捷学车 不用排队50天拿证</td>
            </tr>
        </tbody>
    </table>
    <div class="service-paging">
        自定义分页
    </div>
</div>
<script>
    $(function () {
        

    })
</script>