<ul class="nav">
    <li class="active">我发布的信息</li>
</ul>
<div class="service-box" id="serviceTable">
    <ul class="sort-list">
        <li class="active">所有信息</li>
        <li>已上线</li>
        <li>待上线</li>
        <li>已下线</li>
    </ul>
    <table class="service-table">
        <thead>
            <tr>
                <td>服务名称</td>
                <td style="width: 200px;">服务范围</td>
                <td style="width: 150px;">服务地区</td>
                <td style="width: 120px;">联系电话</td>
                <td style="width: 100px;">联系人</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>增驾A2B2照速捷学车 不用排队50天拿证,增驾A2B2照速捷学车 不用排队50天拿证</td>
                <td>A2牵引车,A大型客车,A3城市公交车,B1中型客车,C1手动档,C2自动挡,A3城市公交车,B1中型客车,C1手动档,C2自动挡,A2牵引车,A大型客车,A3城市公交车,B1中型客车,C1手动档,C2自动挡,A3城市公交车,B1中型客车,C1手动档,C2自动挡</td>
                <td>浦口,高淳,六合,溧水,下关,大厂,浦口,高淳,六合,溧水,下关,大厂</td>
                <td>15333333333</td>
                <td>张小姐</td>
            </tr>
            <tr>
                <td>增驾A2B2照速捷学车 不用排队50天拿证,增驾A2B2照速捷学车 不用排队50天拿证</td>
                <td>A2牵引车,A大型客车,A3城市公交车,B1中型客车,C1手动档,C2自动挡,A3城市公交车,B1中型客车,C1手动档,C2自动挡,A2牵引车,A大型客车,A3城市公交车,B1中型客车,C1手动档,C2自动挡,A3城市公交车,B1中型客车,C1手动档,C2自动挡</td>
                <td>浦口,高淳,六合,溧水,下关,大厂,浦口,高淳,六合,溧水,下关,大厂</td>
                <td>15333333333</td>
                <td>张小姐</td>
            </tr>
            <tr>
                <td>增驾A2B2照速捷学车 不用排队50天拿证,增驾A2B2照速捷学车 不用排队50天拿证</td>
                <td>A2牵引车,A大型客车,A3城市公交车,B1中型客车,C1手动档,C2自动挡,A3城市公交车,B1中型客车,C1手动档,C2自动挡,A2牵引车,A大型客车,A3城市公交车,B1中型客车,C1手动档,C2自动挡,A3城市公交车,B1中型客车,C1手动档,C2自动挡</td>
                <td>浦口,高淳,六合,溧水,下关,大厂,浦口,高淳,六合,溧水,下关,大厂</td>
                <td>15333333333</td>
                <td>张小姐</td>
            </tr>
            <tr>
                <td>增驾A2B2照速捷学车 不用排队50天拿证,增驾A2B2照速捷学车 不用排队50天拿证</td>
                <td>A2牵引车,A大型客车,A3城市公交车,B1中型客车,C1手动档,C2自动挡,A3城市公交车,B1中型客车,C1手动档,C2自动挡,A2牵引车,A大型客车,A3城市公交车,B1中型客车,C1手动档,C2自动挡,A3城市公交车,B1中型客车,C1手动档,C2自动挡</td>
                <td>浦口,高淳,六合,溧水,下关,大厂,浦口,高淳,六合,溧水,下关,大厂</td>
                <td>15333333333</td>
                <td>张小姐</td>
            </tr>
        </tbody>
    </table>
    <div class="service-paging">
        自定义分页
    </div>
</div>
<div class="service-box" id="serviceDetail" style="display: none;">
    <form class="publishing" onsubmit="return false">
        <label class="input-item input-item-block">
            <span class="user-input-label">服务名称</span>
            <div class="user-input">
                <input type="text" readonly value="增驾A2B2照速捷学车 不用排队50天拿证">
            </div>
        </label>
        <label class="input-item input-item-block">
            <span class="user-input-label">服务价格</span>
            <div class="user-input">
                <input type="text" readonly value="5000">
            </div>
        </label>
        <label class="input-item input-item-block">
            <span class="user-input-label">联系人</span>
            <div class="user-input">
                <input type="text" readonly value="张小姐">
            </div>
        </label>
        <label class="input-item input-item-block">
            <span class="user-input-label">联系电话</span>
            <div class="user-input">
                <input type="text" readonly value="15333333333">
            </div>
        </label>
        <label class="input-item input-item-block">
            <span class="user-input-label">服务地区</span>
            <div class="user-input">
                <input type="text" readonly value="浦口,高淳,六合,溧水,下关,大厂">
            </div>
        </label>
        <label class="input-item input-item-textarea">
            <div class="lable-block">
                <span class="user-input-label">服务范围</span>
            </div>
            <div class="user-input">
                <textarea cols="30" rows="3" readonly style="height: 100px;">A2牵引车,A大型客车,A3城市公交车,B1中型客车,C1手动档,C2自动挡,A3城市公交车,B1中型客车,C1手动档,C2自动挡</textarea>
            </div>
        </label>
        <label class="input-item input-item-textarea">
            <div class="lable-block">
                <span class="user-input-label">服务详情</span>
            </div>
            <div class="user-input">
                <textarea cols="30" rows="10" readonly></textarea>
            </div>
        </label>
        <div class="input-item input-item-textarea">
            <div class="lable-block">
                <span class="user-input-label">服务图片</span>
            </div>
            <div class="user-input">
                <div class="user-input-img-list">
                    <img src="../assets/img/detail/car1.webp" alt="" srcset="">
                    <img src="../assets/img/detail/car2.webp" alt="" srcset="">
                    <img src="../assets/img/detail/car3.webp" alt="" srcset="">
                    <img src="../assets/img/detail/car4.webp" alt="" srcset="">
                    <img src="../assets/img/detail/car1.webp" alt="" srcset="">
                </div>
            </div>
        </div>
        <label class="input-item-btn">
            <input class="item-btn" type="button" value="返回" id="serviceBackBtn">
        </label>
    </form>
</div>
<script>
    $(function () {

        $("#serviceTable tbody td:first-child").on("click",function(){
            $("#serviceTable").hide();
            $("#serviceDetail").show();
        })
        $("#serviceBackBtn").on("click",function(){
            $("#serviceTable").show();
            $("#serviceDetail").hide();
        })

    })
</script>