<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>站内信列表</title>
        <link rel="stylesheet" type="text/css" th:href="@{/manager/easyui/themes/default/easyui.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/manager/easyui/themes/icon.css}">
        <script type="text/javascript" th:src="@{/manager/easyui/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/manager/easyui/jquery.easyui.min.js}"></script>
        <script type="text/javascript">
            $(function () {
                $('#noticelist').datagrid({
                    title: '站内信列表',
                    iconCls: 'icon-save',
                    url: '/manager/notices/list',
                    columns: [
                        [
                            {field: 'title', title: '标题', width: 200, align: 'center'},
                            {field: 'info', title: '内容', width: 300, align: 'center'},
                            {
                                field: 'managerUserDTO.username',
                                title: '发布人员',
                                width: 100,
                                align: 'center',
                                formatter: (val, row) => {
                                    return row.managerUserDTO != null ? row.managerUserDTO.username : '-';
                                }
                            },
                            {
                                field: 'userDTO.name',
                                title: '接收用户',
                                width: 100,
                                align: 'center',
                                formatter: (val, row) => {
                                    return row.userDTO != null ? row.userDTO.name : '-';
                                }
                            },
                            {field: 'createdate', title: '发布日期', width: 100, align: 'center'}
                        ]
                    ],
                    toolbar: "#tooldiv",
                    pagination: true,
                    pageList: [2, 4, 6, 8, 10],
                    singleSelect: true
                });

                // 初始化修改窗口
                $('#dg').dialog({
                    title: '新建通知',
                    width: 500,
                    height: 400,
                    closed: true,
                    cache: false,
                    modal: true,
                    iconCls: 'icon-save',
                    buttons: [{
                        text: '提交',
                        iconCls: 'icon-ok',
                        handler: function () {
                            $.ajax({
                                type : 'post',
                                url : '/manager/notices/add',
                                data : {
                                    title: $('#dg-title').textbox('getValue'),
                                    info: $('#dg-info').val()
                                },
                                dataType : 'json',
                                success : (data) => {
                                    if (data.status === '00000') {
                                        $('#dg').dialog('close');
                                        $('#noticelist').datagrid('reload');
                                    } else {
                                        $.messager.alert('错误', data.message)
                                    }
                                }
                            })
                        }
                    }, {
                        text: '关闭',
                        handler: function () {
                            $('#dg').dialog('close');
                        }
                    }]
                });

                // 初始化删除窗口
                $('#dg2').dialog({
                    title: '删除通知',
                    width: 500,
                    height: 150,
                    closed: true,
                    cache: false,
                    modal: true,
                    iconCls: 'icon-save',
                    buttons: [{
                        text: '确认',
                        iconCls: 'icon-ok',
                        handler: function () {
                            let row = $('#noticelist').datagrid('getSelected');
                            if (row == null) {
                                $.messager.alert('错误', '请选择一条数据');
                                return;
                            }
                            $.ajax({
                                type : 'post',
                                url : '/manager/notices/delete',
                                data : {
                                    id: row.id
                                },
                                dataType : 'json',
                                success : (data) => {
                                    if (data.status === '00000') {
                                        $('#dg2').dialog('close');
                                        $('#noticelist').datagrid('reload');
                                    } else {
                                        $.messager.alert('错误', data.status)
                                    }
                                }
                            })
                        }
                    }, {
                        text: '关闭',
                        handler: function () {
                            $('#dg2').dialog('close');
                        }
                    }]
                });
            });

            // 打开新建通知界面
            function opendg() {
                $('#dg-title').textbox('setValue', '');
                $('#dg-info').val('');
                $('#dg').dialog('open');
            }

            // 打开删除通知界面
            function opendg2() {
                let row = $('#noticelist').datagrid('getSelected');
                if (row == null) {
                    $.messager.alert('错误', '请选择一条数据');
                    return;
                }
                $('#dg2').dialog('open');
            }
        </script>
    </head>
    <body>
        <div id="tooldiv">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="opendg2()">删除</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="opendg();">新建</a>
        </div>
        <table id="noticelist"></table>
        <div id="dg">
            <div align="center" style="margin-top: 30px">
                <div style="margin-bottom:20px">
                    <input id="dg-title" class="easyui-textbox" style="width:50%" data-options="label:'标题:'"/>
                </div>
                <div style="margin-bottom:20px">
                    <textarea id="dg-info" cols="50" rows="10"></textarea>
                </div>
            </div>
        </div>
        <div id="dg2">
            <div align="center" style="margin-top: 30px">
                <div style="margin-bottom:20px">
                    <p>确认删除当前通知？</p>
                </div>
            </div>
        </div>
    </body>
</html>