<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>权限列表</title>
        <link rel="stylesheet" type="text/css" th:href="@{/manager/easyui/themes/default/easyui.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/manager/easyui/themes/icon.css}">
        <script type="text/javascript" th:src="@{/manager/easyui/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/manager/easyui/jquery.easyui.min.js}"></script>
        <script type="text/javascript">
            // 工具栏
            let toolbar = [{
                text: '新增',
                iconCls: 'icon-add',
                handler: function () {
                    $('#dd').dialog('open');
                }
            }, '-', {
                text: '修改',
                iconCls: 'icon-edit',
                handler: function () {
                    let row = $('#userlist').datagrid('getSelected');
                    if (row == null) {
                        $.messager.alert('错误', '请选择一条数据');
                    } else {
                        $('#ff-id').textbox('setValue', row.id);
                        $('#ff-name').textbox('setValue', row.name);
                        $('#dd').dialog('open');
                        let nodes = $('#ah').tree('getRoots');
                        for (const node of nodes) {
                            $('#ah').tree('uncheck', node.target);
                        }
                        for (const permission of row.permissions) {
                            let node = $('#ah').tree('find', permission.id);
                            if (!$('#ah').tree('isLeaf', node.target)) {
                                $('#ah').tree('expand', node.target);
                            } else {
                                $('#ah').tree('check', node.target);
                            }
                        }
                    }
                }
            }, '-', {
                text: '删除',
                iconCls: 'icon-cancel',
                handler: function () {
                    alert('delete')
                }
            }];

            $(function () {
                $('#userlist').datagrid({
                    title: '角色列表',
                    iconCls: 'icon-save',
                    url: '/manager/roles/list',
                    columns: [
                        [
                            {field: 'id', title: '角色ID', width: 100, align: 'center'},
                            {field: 'name', title: '角色名称', width: 100, align: 'center'},
                            {
                                field: 'permissions',
                                title: '角色拥有的权限[权限名 | 权限URL | 模块名  ]',
                                width: 500,
                                align: 'center',
                                formatter: (val, row) => {
                                    let html = '';
                                    html += "<select name='search_type'>";
                                    if (val.length !== 0) {
                                        for (const permission of val) {
                                            let str = permission.name + ' | '
                                                + (permission.url === '' ? '-' : permission.url) + ' | '
                                                + (permission.parentid === null ? '顶级模块' : permission.parentPermission.name)
                                            html += "<option>" + str + "</option>";
                                        }
                                    } else {
                                        html += "<option>暂无权限</option>";
                                    }
                                    html += "</select>";
                                    return html;
                                }
                            }
                        ]
                    ],
                    pagination: true,
                    pageList: [2, 4, 6, 8, 10],
                    toolbar: toolbar,
                    singleSelect: true
                });

                // 初始化查询栏
                $("#submit_search").linkbutton({iconCls: 'icon-search', plain: true})
                    .click(function () {
                        $('#userlist').datagrid('load', {
                            name: $('#searchform input[name=name]').val()
                        });
                    });

                // 初始化修改窗口
                $('#dd').dialog({
                    title: 'My Dialog',
                    width: 700,
                    height: 500,
                    closed: true,
                    cache: false,
                    href: '',
                    modal: true,
                    iconCls: 'icon-save',
                    buttons: [{
                        text: '提交',
                        iconCls: 'icon-ok',
                        handler: function () {
                            let id = $('#ff-id').textbox('getValue');
                            let name = $('#ff-name').textbox('getValue');
                            let nodes = $('#ah').tree('getChecked', ['checked', 'indeterminate']);
                            let ids = [];
                            for (const node of nodes) {
                                ids.push(node.id);
                            }
                            $.ajax({
                                type : 'post',
                                url : '/manager/roles/modify',
                                data : {
                                    id: id,
                                    name: name,
                                    permissionIds: ids
                                },
                                dataType : 'json',
                                success : (data) => {
                                    // console.log(data);
                                    if (data.status === '00000') {
                                        $('#dd').dialog('close');
                                        $('#userlist').datagrid('reload');
                                    } else {
                                        $.messager.alert('错误', data.message);
                                    }
                                }
                            })
                        }
                    }, {
                        text: '关闭',
                        handler: function () {
                            $('#dd').dialog('close');
                        }
                    }]
                });

                // tree 选项框初始化
                $("#ah").tree({
                    url: '/manager/permissions/tree',
                    method: 'post',
                    animate: true,
                    checkbox: true
                });
            });
        </script>
    </head>
    <body>
        <form name="searchform" method="post" action="" id="searchform">
            <td width="70" height="30"><strong>角色查询：</strong></td>
            <td height="30">
                <input type="text" name="name" size=20 placeholder="角色名称"/>
                <a id="submit_search">搜索</a>
            </td>
        </form>
        <table id="userlist"></table>
        <div id="dd">
            <div align="center" style="margin-top: 30px">
                <form id="ff" method="post">
                    <div style="margin-bottom:20px">
                        <input id="ff-id" class="easyui-textbox" name="id" style="width:50%" data-options="label:'角色ID:'"
                               readonly="readonly"/>
                    </div>
                    <div style="margin-bottom:20px">
                        <input id="ff-name" class="easyui-textbox" name="name" style="width:50%"
                               data-options="label:'角色名称:',required:true">
                    </div>
                    <div style="margin-bottom:20px">
                        <table style="width:48%">
                            <td valign="top" style="width:50px">
                                权限:
                            </td>
                            <td>
                                <ul id="ah"></ul>
                            </td>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>