<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>平台服务列表</title>
        <link rel="stylesheet" type="text/css" th:href="@{/manager/easyui/themes/default/easyui.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/manager/easyui/themes/icon.css}">
        <script type="text/javascript" th:src="@{/manager/easyui/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/manager/easyui/jquery.easyui.min.js}"></script>
        <script type="text/javascript" th:src="@{/manager/js/_my.js}"></script>
        <script type="text/javascript">
            let lifetypes = '';
            let commercetypes = '';

            $(function () {
                $.ajax({
                    type : 'post',
                    url : '/manager/types/list/1',
                    data : {},
                    dataType : 'json',
                    success : (data) => {
                        lifetypes = data;
                    }
                })
                $.ajax({
                    type : 'post',
                    url : '/manager/types/list/2',
                    data : {},
                    dataType : 'json',
                    success : (data) => {
                        commercetypes = data;
                    }
                })

                $('#serverlist').datagrid({
                    title: '平台服务列表',
                    iconCls: 'icon-save',
                    url: '/manager/servers/list',
                    columns: [
                        [
                            {field: 'servername', title: '服务名称', width: 100, align: 'center'},
                            {field: 'linkman', title: '联系人', width: 100, align: 'center'},
                            {field: 'phone', title: '联系电话', width: 100, align: 'center'},
                            {field: 'commpanyname', title: '所属服务商', width: 100, align: 'center'},
                            {
                                field: 'commpanytype',
                                title: '服务商类型',
                                width: 100,
                                align: 'center',
                                formatter: (val, row) => {
                                    return val === 1 ? '生活' : '商务';
                                }
                            },
                            {field: 'memberlevel', title: '服务商等级', width: 100, align: 'center'},
                            {field: 'username', title: '发布账户名', width: 100, align: 'center'},
                            {field: 'createdate', title: '发布日期', width: 100, align: 'center'},
                            {
                                field: 'flag', title: '状态', width: 100, align: 'center', formatter: (val, row) => {
                                    return val === 1 ? "<font color='green'>上线</font>" : "<font color='red'>下线</font>";
                                }
                            },
                            {
                                field: 'cz', title: '操作', width: 200, align: 'center', formatter: function (val, row) {
                                    return "<a href='javascript:showDg();'>查看</a>";
                                }
                            }
                        ]
                    ],
                    toolbar: "#tooldiv",
                    pagination: true,
                    pageList: [2, 4, 6, 8, 10],
                    singleSelect: true
                });

                // 初始化修改窗口
                $('#dg').dialog({
                    title: '服务详情',
                    width: 700,
                    height: 600,
                    closed: true,
                    cache: false,
                    modal: true,
                    iconCls: 'icon-save'
                });

                $('#editdg').dialog({
                    title: '服务修改',
                    width: 700,
                    height: 600,
                    closed: true,
                    cache: false,
                    modal: true,
                    iconCls: 'icon-save',
                    buttons: [{
                        text: '提交',
                        iconCls: 'icon-ok',
                        handler: modify,
                    }, {
                        text: '关闭',
                        handler: function () {
                            $('#editdg').dialog('close');
                        }
                    }]
                });

                // 初始化查询按钮
                $("#submit_search").linkbutton({iconCls: 'icon-search', plain: true})
                    .click(function () {
                        $('#serverlist').datagrid('load', {
                            servername: $('#tooldiv input[name=servername]').val(),
                            flag: $('#tooldiv select[name=flag]').val(),
                        });
                    });

                // 初始化下拉控件
                $("#servertype").combobox({
                    width: 350,
                    label: "服务范围",
                    valueField: 'id',
                    textField: 'name'
                });

                $("#serverarea").combobox({
                    url: '/manager/areas/list',
                    label: "服务地区",
                    width: 350,
                    valueField: 'id',
                    textField: 'name'
                });
            });

            // 查询弹出方法
            function showDg() {
                let row = $('#serverlist').datagrid('getSelected')
                if (null != row) {
                    $.ajax({
                        type : 'post',
                        url : '/manager/servers/server/' + row.id,
                        data : {},
                        dataType : 'json',
                        success : (data) => {
                            // console.log(data)
                            if (data.status === '00000') {
                                let info = data.data;
                                $('#dg-servername').textbox('setValue', info.servername);
                                $('#dg-linkman').textbox('setValue', info.linkman);
                                $('#dg-phone').textbox('setValue', info.phone);
                                $('#dg-commpanyname').textbox('setValue', info.commpanyname);
                                $('#dg-commpanytype').textbox('setValue', info.commpanytype === 1 ? '生活' : '商务');
                                $('#dg-memberlevel').textbox('setValue', info.memberlevel);
                                let servertype = '';
                                if (info.typeDTOList != null) {
                                    for (let i = 0; i < info.typeDTOList.length; i++) {
                                        servertype += info.typeDTOList[i].name + ','
                                    }
                                }
                                $('#dg-servertype').textbox('setValue', servertype.substring(0, servertype.length - 1));
                                let serverarea = '';
                                if (info.areaDTOList != null) {
                                    for (let i = 0; i < info.areaDTOList.length; i++) {
                                        serverarea += info.areaDTOList[i].name + ','
                                    }
                                }
                                $('#dg-serverarea').textbox('setValue', serverarea.substring(0, serverarea.length - 1));
                                $('#dg-createdate').textbox('setValue', info.createdate);
                                $('#dg-flag').textbox('setValue', info.flag === 1 ? '上线' : '下线');
                                $('#dg-info').val(info.info);

                                $('#dg-imgtab').empty();
                                for (let annex of info.annexList) {
                                    $('#dg-imgtab').append("<img src='" + fileServer + annex.path + "' alt='" + annex.filename + "' style='width: 100px;height: 100px; margin: 0 5px'>");
                                }

                                $('#dg').dialog('open');
                            } else {
                                $.messager.alert('错误', data.message);
                            }
                        }
                    })
                }
            }

            // 打开修改服务界面
            function openeditdg() {
                let row = $('#serverlist').datagrid('getSelected');

                if (row == null) {
                    $.messager.alert('错误', '请选择一条数据');
                    return;
                }

                $.ajax({
                    type : 'post',
                    url : '/manager/servers/server/' + row.id,
                    data : {},
                    dataType : 'json',
                    success : (data) => {
                        // console.log(data)
                        if (data.status === '00000') {
                            let info = data.data;

                            if (info.commpanytype === 1) {
                                $("#servertype").combobox({
                                    data: lifetypes
                                })
                            }
                            if (info.commpanytype === 2) {
                                $("#servertype").combobox({
                                    data: commercetypes
                                })
                            }

                            if (info.typeDTOList != null) {
                                for (let i = 0; i < info.typeDTOList.length; i++) {
                                    $("#servertype").combobox("select", info.typeDTOList[i].id);
                                }
                            }

                            if (info.areaDTOList != null) {
                                for (let i = 0; i < info.areaDTOList.length; i++) {
                                    $("#serverarea").combobox("select", info.areaDTOList[i].id);
                                }
                            }

                            $('#editdg-id').val(info.id);
                            $('#editdg-userid').val(info.userid);
                            $('#editdg-servername').textbox('setValue', info.servername);
                            $('#editdg-linkman').textbox('setValue', info.linkman);
                            $('#editdg-phone').textbox('setValue', info.phone);
                            $('#editdg-commpanyname').textbox('setValue', info.commpanyname);
                            $('#editdg-commpanytype').textbox('setValue', info.commpanytype === 1 ? '生活' : '商务');
                            $('#editdg-memberlevel').textbox('setValue', info.memberlevel);
                            $('#editdg-info').val(info.info);

                            $('#editdg-imgbox').empty();
                            $('#editdg-upload').val('');

                            $('#editdg').dialog('open');
                        } else {
                            $.messager.alert('错误', data.message);
                        }
                    }
                })

                $('#editdg').dialog("open");
            }

            // 上线下线
            function changeFlag(flag) {
                let row = $('#serverlist').datagrid('getSelected');
                if (row !== null && flag !== row.flag) {
                    $.ajax({
                        type : 'post',
                        url : '/manager/servers/modify/flag',
                        data : {
                            id: row.id,
                            flag: flag,
                            servername: row.servername,
                            userid: row.userid
                        },
                        dataType : 'json',
                        success : (data) => {
                            // console.log(data)
                            if (data.status === '00000') {
                                $('#serverlist').datagrid('reload');
                            } else {
                                $.messager.alert('错误', data.message);
                            }
                        }
                    })
                }
            }

            function modify() {
                let data = new FormData($('#edit-form')[0]);
                let files = $('#editdg-upload')[0].files;
                for (let i = 0; i < files.length; i++) {
                    data.append('files', files[i]);
                }
                $.ajax({
                    type : 'post',
                    url : '/manager/servers/modify',
                    contentType : false,
                    processData: false,
                    data : data,
                    dataType : 'json',
                    success : (data) => {
                        if (data.status === '00000') {
                            $("#editdg").dialog('close');
                            $('#serverlist').datagrid('reload');
                        } else {
                            $.messager.alert('错误', data.message);
                        }
                    }
                })
            }
        </script>
    </head>
    <body>
        <div id="tooldiv">
            <input name="servername" type="text" placeholder="请输入服务名"/>
            <select name="flag">
                <option value="">请选状态</option>
                <option value="1">上线</option>
                <option value="0">下线</option>
            </select>
            <a id="submit_search">搜索</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="openeditdg();">修改</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-remove'" href="javascript:changeFlag(0)">下线</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" href="javascript:changeFlag(1)">上线</a>
        </div>
        <table id="serverlist"></table>
        <!-- 服务详情界面 -->
        <div id="dg">
            <div align="center" style="margin-top: 30px">
                <div style="margin-bottom:20px">
                    <input id="dg-servername" class="easyui-textbox" style="width:50%" data-options="label:'服务名称:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-linkman" class="easyui-textbox" style="width:50%" data-options="label:'联系人:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-phone" class="easyui-textbox" style="width:50%" data-options="label:'联系电话:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-commpanyname" class="easyui-textbox" style="width:50%;" data-options="label:'所属服务商:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-commpanytype" class="easyui-textbox" style="width:50%;" data-options="label:'服务商类型:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-memberlevel" class="easyui-textbox" style="width:50%;" data-options="label:'服务商等级:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-servertype" class="easyui-textbox" style="width:50%;" data-options="label:'服务范围:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-serverarea" class="easyui-textbox" style="width:50%;" data-options="label:'服务地区:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-createdate" class="easyui-textbox" style="width:50%;" data-options="label:'发布时间:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-flag" class="easyui-textbox" style="width:50%;" data-options="label:'状态:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                <textarea id="dg-info" cols="80" rows="5" readonly="true" style="border: 0px;">
                    文本
                </textarea>
                </div>
                <div id="dg-imgtab" class="imgtab">
                </div>
            </div>
        </div>
        <!-- 服务修改界面 -->
        <div id="editdg">
            <div align="center" style="margin-top: 30px">
                <form id="edit-form">
                    <input type="hidden" id="editdg-id" name="id">
                    <input type="hidden" id="editdg-userid" name="userid">
                    <div style="margin-bottom:20px">
                        <input id="editdg-servername" name="servername" class="easyui-textbox" style="width:50%" data-options="label:'服务名称:'"/>
                    </div>
                    <div style="margin-bottom:20px">
                        <input id="editdg-linkman" name="linkman" class="easyui-textbox" style="width:50%" data-options="label:'联系人:'"/>
                    </div>
                    <div style="margin-bottom:20px">
                        <input id="editdg-phone" name="phone" class="easyui-textbox" style="width:50%" data-options="label:'联系电话:'"/>
                    </div>
                    <div style="margin-bottom:20px">
                        <input id="editdg-commpanyname" class="easyui-textbox" style="width:50%;" data-options="label:'所属服务商:'" readonly/>
                    </div>
                    <div style="margin-bottom:20px">
                        <input id="editdg-commpanytype" class="easyui-textbox" style="width:50%;" data-options="label:'服务商类型:'" readonly/>
                    </div>
                    <div style="margin-bottom:20px">
                        <input id="editdg-memberlevel" class="easyui-textbox" style="width:50%;" data-options="label:'服务商等级:'" readonly/>
                    </div>
                    <div style="margin-bottom:20px">
                        <select id="servertype" name="servertypeids" multiple="multiple"></select>
                    </div>
                    <div style="margin-bottom:20px">
                        <select id="serverarea" name="serverareaids" multiple="multiple"></select>
                    </div>
                    <div style="margin-bottom:20px">
                        <textarea id="editdg-info" name="info" cols="80" rows="5"></textarea>
                    </div>
                    <div style="margin-bottom:20px">
                        服务图片:<input id="editdg-upload" type="file" accept="image/*" multiple="multiple"/>
                    </div>
                </form>
                <div>
                    <div id="editdg-imgbox" style="margin-bottom:20px; display: inline-block"></div>
                </div>
            </div>
        </div>
    </body>
</html>
<!-- 处理文件上传并预览 -->
<script>
    $('#editdg-upload').change((e) => {
        $('#editdg-imgbox').empty();
        let files = e.target.files;
        if (files && files.length > 0) {
            for (let i = 0; i < files.length; i++) {
                let url = window.URL || window.webkitURL;
                let imgurl = url.createObjectURL(files[i]);
                let html = `
                    <div style="display: inline-block">
                        <img style="width: 100px; height: 100px; " src="${imgurl}" alt="">
                    </div>
                `;
                $('#editdg-imgbox').append(html);
            }
        }
    })
</script>