<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>服务审核列表</title>
        <link rel="stylesheet" type="text/css" th:href="@{/manager/easyui/themes/default/easyui.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/manager/easyui/themes/icon.css}">
        <script type="text/javascript" th:src="@{/manager/easyui/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/manager/easyui/jquery.easyui.min.js}"></script>
        <script type="text/javascript" th:src="@{/manager/js/_my.js}"></script>
        <script type="text/javascript">
            $(function () {
                $('#examinelist').datagrid({
                    title: '服务审核列表',
                    iconCls: 'icon-save',
                    url: '/manager/examines/server/list',
                    columns: [
                        [
                            {field: 'title', title: '审核标题', width: 200, align: 'center'},
                            {field: 'name', title: '服务名称', width: 200, align: 'center'},
                            {field: 'commpanyname', title: '服务商名称', width: 200, align: 'center'},
                            {field: 'servertype', title: '服务范围', width: 200, align: 'center'},
                            {field: 'serverarea', title: '服务地区', width: 100, align: 'center'},
                            {field: 'createdate', title: '提交日期', width: 100, align: 'center'},
                            {field: 'linkman', title: '申请账户名', width: 100, align: 'center'},
                            {
                                field: 'flag', title: '状态', width: 100, align: 'center', formatter: (val, row) => {
                                    if (val === 0) {
                                        return '待审核';
                                    }
                                    if (val === 1) {
                                        return '<font color="green">已通过</font>';
                                    }
                                    if (val === 2) {
                                        return '<font color="red">未通过</font>';
                                    }
                                }
                            },
                            {
                                field: 'cz', title: '操作', width: 200, align: 'center', formatter: function (val, row) {
                                    return "<a href='javascript:showDg();'>查看服务详情</a>";
                                }
                            }
                        ]
                    ],
                    toolbar: "#tooldiv",
                    pagination: true,
                    pageList: [2, 4, 6, 8, 10],
                    singleSelect: true
                });

                // 初始化修改窗口
                $('#dg').dialog({
                    title: '加盟商详情',
                    width: 700,
                    height: 600,
                    closed: true,
                    cache: false,
                    modal: true,
                    iconCls: 'icon-save'
                });

                $("#examinedg").dialog({
                    title: '审核操作',
                    width: 500,
                    height: 300,
                    closed: true,
                    cache: false,
                    modal: true,
                    iconCls: 'icon-save',
                    buttons: [{
                        text: '提交',
                        iconCls: 'icon-ok',
                        handler: examine
                    }, {
                        text: '关闭',
                        handler: function () {
                            $('#ff').reset();
                            $("#examinedg").dialog('close');
                        }
                    }]
                });

                // 初始化查询按钮
                $("#submit_search").linkbutton({iconCls: 'icon-search', plain: true})
                    .click(function () {
                        $('#examinelist').datagrid('load', {
                            name: $('#tooldiv input[name=name]').val(),
                            flag: $('#tooldiv select[name=flag]').val(),
                        });
                    });
            });

            // 查询弹出方法
            function showDg() {
                let row = $('#examinelist').datagrid('getSelected');
                if (null != row) {
                    $.ajax({
                        type : 'post',
                        url : '/manager/examines/server/' + row.id,
                        data : {},
                        dataType : 'json',
                        success : (data) => {
                            // console.log(data);
                            if (data.status === '00000') {
                                let info = data.data;
                                $('#dg-name').textbox('setValue', info.name);
                                $('#dg-commpanyname').textbox('setValue', info.commpanyname);
                                $('#dg-address').textbox('setValue', info.address);
                                $('#dg-phone').textbox('setValue', info.phone);
                                $('#dg-linkman').textbox('setValue', info.linkman);
                                $('#dg-servertype').textbox('setValue', info.servertype);
                                $('#dg-serverarea').textbox('setValue', info.serverarea);
                                $('#dg-commpanycreatedate').textbox('setValue', info.commpanycreatedate);
                                $('#dg-info').val(info.info);

                                $('#dg-imgtab').empty();
                                for (let annex of info.annexes) {
                                    $('#dg-imgtab').append("<img src='" + fileServer + annex.path + "' alt='" + annex.filename + "' style='width: 100px;height: 100px; margin: 0 5px'>");
                                }

                                $('#dg').dialog('open');
                            } else {
                                $.messager.alert('错误', data.message);
                            }
                        }
                    })
                }
            }

            // 打开审核操作界面方法
            function openexaminedg() {
                let row = $('#examinelist').datagrid('getSelected');
                if (row == null) {
                    $.messager.alert('错误', '请先选择一条数据')
                    return;
                }
                if (row.flag !== 0) {
                    $.messager.alert('错误', '该数据已被审核')
                    return;
                }
                $("#examinedg").dialog("open");
                $('#ff').reset();
            }

            // 审核
            function examine() {
                let row = $('#examinelist').datagrid('getSelected');
                if (row != null) {
                    $.ajax({
                        type : 'post',
                        url : '/manager/examines/server/examine',
                        data : {
                            id: row.id,
                            flag: $('#ff select[name=flag]').val(),
                            examineInfo: $('#ff textarea[name=examineInfo]').val()
                        },
                        dataType : 'json',
                        success : (data) => {
                            // console.log(data);
                            if (data.status === '00000') {
                                $("#examinedg").dialog("close");
                                $('#examinelist').datagrid('reload');
                            } else {
                                $.messager.alert('错误', data.message);
                            }
                        }
                    })
                }
            }
        </script>
    </head>
    <body>
        <div id="tooldiv">
            <input name="name" type="text" placeholder="请输入查询加盟商"/>
            <select name="flag">
                <option value="">请选状态</option>
                <option value="0">待审核</option>
                <option value="1">已通过</option>
                <option value="2">未通过</option>
            </select>
            <a id="submit_search">搜索</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="openexaminedg();">审核</a>
        </div>
        <table id="examinelist"></table>
        <!-- 审核详情界面 -->
        <div id="dg">
            <div align="center" style="margin-top: 30px">
                <div style="margin-bottom:20px">
                    <input id="dg-name" class="easyui-textbox" style="width:50%" data-options="label:'服务名称:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-commpanyname" class="easyui-textbox" style="width:50%" data-options="label:'服务商名称:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-address" class="easyui-textbox" style="width:50%" data-options="label:'公司地址:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-phone" class="easyui-textbox" style="width:50%" data-options="label:'联系电话:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-linkman" class="easyui-textbox" style="width:50%;" data-options="label:'联系人:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-servertype" class="easyui-textbox" style="width:50%;" data-options="label:'服务范围:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-serverarea" class="easyui-textbox" style="width:50%;" data-options="label:'服务地区:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-commpanycreatedate" class="easyui-textbox" style="width:50%;" data-options="label:'注册时间:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                <textarea id="dg-info" cols="80" rows="5" readonly="true" style="border: 0px;">
                    文本
                </textarea>
                </div>
                <div id="dg-imgtab" class="imgtab">
                </div>
            </div>
        </div>
        <!-- 审核操作界面 -->
        <div id="examinedg">
            <div align="center" style="margin-top: 30px">
                <form id="ff" method="post">
                    <table>
                        <tr>
                            <td>
                                审核状态:
                            </td>
                            <td>
                                <select name="flag" id="search_type" style="width:100px">
                                    <option value="1">通过</option>
                                    <option value="2">不通过</option>
                                </select>
                            </td>
                        </tr>
                        <tr style="vertical-align:top">
                            <td>
                                审核备注:
                            </td>
                            <td>
                                <textarea name="examineInfo" rows="10" cols="30"></textarea>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>