<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>前台子账号列表</title>
        <link rel="stylesheet" type="text/css" th:href="@{/manager/easyui/themes/default/easyui.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/manager/easyui/themes/icon.css}">
        <script type="text/javascript" th:src="@{/manager/easyui/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/manager/easyui/jquery.easyui.min.js}"></script>
        <script type="text/javascript" th:src="@{/manager/js/_my.js}"></script>
        <script type="text/javascript">
            $(function () {
                $('#userlist').datagrid({
                    title: '前台用户列表',
                    iconCls: 'icon-save',
                    url: '/manager/users/userlist?companyid=' + 2,
                    columns: [
                        [
                            {field: 'name', title: '姓名', width: 100, align: 'center'},
                            {field: 'nickname', title: '昵称', width: 100, align: 'center'},
                            {field: 'phone', title: '电话', width: 100, align: 'center'},
                            {field: 'wechat', title: '微信号', width: 100, align: 'center'},
                            {field: 'qq', title: 'QQ', width: 200, align: 'center'},
                            {
                                field: 'flag', title: '状态', width: 100, align: 'center', formatter: (val, row) => {
                                    return row.flag === 1 ? '<font color="green">启用</font>' : '<font color="red">禁用</font>';
                                }
                            },
                            {
                                field: 'cz', title: '操作', width: 200, align: 'center', formatter: function (val, row) {
                                    return "<a href='javascript:showDg();'>查看</a>";
                                }
                            }
                        ]
                    ],
                    toolbar: "#tooldiv",
                    pagination: true,
                    pageList: [2, 4, 6, 8, 10],
                    singleSelect: true
                });

                // 初始化修改窗口
                $('#dg').dialog({
                    title: '用户详情',
                    width: 700,
                    height: 600,
                    closed: true,
                    cache: false,
                    modal: true,
                    iconCls: 'icon-save'
                });

                // 初始化绑定界面
                $("#addsub").dialog({
                    title: '子账号绑定',
                    width: 300,
                    height: 200,
                    closed: true,
                    cache: false,
                    modal: true,
                    iconCls: 'icon-save',
                    buttons: [{
                        text: '提交',
                        iconCls: 'icon-ok',
                        handler: function () {
                            $.ajax({
                                type : 'post',
                                url : '/manager/users/addsub',
                                data : {
                                    phone: $("#addsub-phone").textbox('getValue'),
                                    companyid: 2
                                },
                                dataType : 'json',
                                success : (data) => {
                                    // console.log(data)
                                    if (data.status === '00000') {
                                        $("#addsub").dialog('close');
                                        $('#userlist').datagrid('reload');
                                    } else {
                                        $.messager.alert('错误', data.message);
                                    }
                                }
                            })
                        }
                    }, {
                        text: '关闭',
                        handler: function () {
                            $("#addsub").dialog('close');
                        }
                    }]
                });

                // 初始化查询按钮
                $("#submit_search").linkbutton({iconCls: 'icon-search', plain: true})
                    .click(function () {
                        $('#userlist').datagrid('load', {
                            name: $('#tooldiv input[name=name]').val(),
                            phone: $('#tooldiv input[name=phone]').val(),
                            wechat: $('#tooldiv input[name=wechat]').val(),
                            qq: $('#tooldiv input[name=qq]').val(),
                        });
                    });
            });

            // 查询弹出方法
            function showDg() {
                let row = $('#userlist').datagrid('getSelected');
                if (null != row) {
                    $.ajax({
                        type : 'post',
                        url : '/manager/users/user/' + row.id,
                        data : {},
                        dataType : 'json',
                        success : (data) => {
                            // console.log(data)
                            if (data.status === '00000') {
                                let info = data.data;
                                $('#dg-headimg').attr('src', fileServer + info.headimg);
                                $('#dg-name').textbox('setValue', info.name);
                                $('#dg-nickname').textbox('setValue', info.nickname);
                                $('#dg-phone').textbox('setValue', info.phone);
                                $('#dg-wechat').textbox('setValue', info.wechat);
                                $('#dg-qq').textbox('setValue', info.qq);
                                $('#dg-sex').textbox('setValue', info.sex === 1 ? '男' : '女');
                                $('#dg-createdate').textbox('setValue', info.createdate);
                                $('#dg-flag').textbox('setValue', info.flag === 1 ? '启用' : '禁用');

                                $('#dg').dialog('open');
                            } else {
                                $.messager.alert('错误', data.message);
                            }
                        }
                    })
                }
            }

            // 打开绑定子账号界面
            function openaddsub() {
                $('#addsub').dialog("open");
                $("#addsub-phone").textbox('setValue', '')
            }

            // 解绑
            function releasesub() {
                let row = $('#userlist').datagrid('getSelected');
                if (null == row) {
                    $.messager.alert('错误', '请选择一条数据');
                    return;
                }
                $.ajax({
                    type : 'post',
                    url : '/manager/users/modify',
                    data : {
                        id: row.id,
                        companyid: -1
                    },
                    dataType : 'json',
                    success : (data) => {
                        // console.log(data)
                        if (data.status === '00000') {
                            $('#userlist').datagrid('reload');
                        } else {
                            $.messager.alert('错误', data.message);
                        }
                    }
                })
            }
        </script>
    </head>
    <body>
        <div id="tooldiv">
            <input name="name" type="text" placeholder="请输入查询用户名"/>
            <input name="phone" type="text" placeholder="请输入查询电话"/>
            <input name="wechat" type="text" placeholder="请输入查询微信"/>
            <input name="qq" type="text" placeholder="请输入查询QQ"/>
            <a id="submit_search">搜索</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-remove'" href="javascript: releasesub()">解除关联</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="openaddsub();">绑定子账号</a>
        </div>
        <table id="userlist"></table>
        <!-- 关联子账号详情界面 -->
        <div id="dg">
            <div align="center" style="margin-top: 30px">
                <div style="margin-bottom:20px">
                    <img id="dg-headimg" src="" alt="头像" style="width: 150px; height:150px;"/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-name" class="easyui-textbox" style="width:50%" data-options="label:'姓名:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-nickname" class="easyui-textbox" style="width:50%" data-options="label:'昵称:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-phone" class="easyui-textbox" style="width:50%" data-options="label:'电话:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-wechat" class="easyui-textbox" style="width:50%;" data-options="label:'微信号:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-qq" class="easyui-textbox" style="width:50%;" data-options="label:'QQ:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-sex" class="easyui-textbox" style="width:50%;" data-options="label:'性别:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-createdate" class="easyui-textbox" style="width:50%;" data-options="label:'注册时间:'" readonly="true"
                           value=""/>
                </div>
                <div style="margin-bottom:20px">
                    <input id="dg-flag" class="easyui-textbox" style="width:50%;" data-options="label:'状态:'" readonly="true"
                           value=""/>
                </div>
            </div>
        </div>
        <!-- 子账号添加界面 -->
        <div id="addsub">
            <div align="center" style="margin-top: 30px">
                <div style="margin-bottom:20px">
                    <input id="addsub-phone" class="easyui-textbox" style="width:80%" data-options="label:'绑定手机:'"/>
                </div>
            </div>
        </div>
    </body>
</html>