<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script>
          function getParams(){
              let url = location.search;
              let obj = null;
              if(url.indexOf("?")!==-1){
                  obj = {};
                  let str = url.substr(1);
                  let ps = str.split("&");
                  for(let i=0;i<ps.length;i++){
                      obj[ps[i].split("=")[0]]=decodeURIComponent(ps[i].split("=")[1]);
                  }
              }
              return obj;
          }
          $(function (){
               console.log(getParams());
          });
    </script>
</head>
<body>
<form action="http://localhost:9001/web/login" method="post">
    <label>用户名:</label><input type="text" name="username"/><br/>
    <label>密码:</label><input type="password" name="password"/><br/>
    <button type="submit">提交</button>
</form>
</body>
</html>