<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服务列表</title>
    <link rel="stylesheet" href="./assets/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/font/iconfont.css">
</head>

<body>
    <header class="header-bar">
        <nav class="bar-link">
            <div class="city">城市：<span>南京</span></div>
            <ul class="btns">
                <li class="user-info">
                    <span>张三</span>
                    <a href="./back-manager.html">[ 个人中心 ]</a>
                    <a href="#">[ 退出登录 ]</a>
                </li>
                <li><a href="./action.html#register">注册</a></li>
                <li><a href="./action.html#login">登录</a></li>
                <li><a href="./index.html">首页</a></li>
                <li>
                    商户推广
                    <i class="iconfont icon-arrow-down"></i>
                    <ul class="down-list-box">
                        <!-- 通过锚点快速定位 -->
                        <li><a href="./vip.html#level1">VIP-体验版</a></li>
                        <li><a href="./vip.html#level2">VIP-初级版</a></li>
                        <li><a href="./vip.html#level3">VIP-中级版</a></li>
                        <li><a href="./vip.html#level4">VIP-高级版</a></li>
                    </ul>
                </li>
                <li><a target="_black" href="https://www.itany.com">联系客服</a></li>
                <li><a target="_black" href="https://www.itany.com">帮助</a></li>
            </ul>
        </nav>
    </header>

    <div class="service-topbar">
        <div class="main-box">
            <div class="logo">
                <img src="./assets/img/logo-c.png" alt="" srcset="">
            </div>
            <div class="search">
                <div class="input-bar">
                    <input class="search-input" type="text" placeholder="求职找房找服务">
                    <span class="icon-search"></span>
                </div>
            </div>
            <div class="release">
                <!-- base.js 中完成动态事件绑定，请自行填充登录验证代码 -->
                <span class="release-btn" id="publishingService">免费发布服务信息</span>
            </div>
        </div>
    </div>

    <main class="vip-list-box main-box">
        <ul class="page-breadcrumbs">
            <!-- 后续可以自行添加 -->
            <li>南京网博</li>
            <li>热门商家</li>
        </ul>
        <div class="vip-list">
            <div class="vip-item">
                <dl>
                    <dt>郑州市凯达金属回收有限公司</dt>
                    <dd>服务范畴：物品回收</dd>
                    <dd>联系方式：18637171236</dd>
                </dl>
                <p>郑州同城旧货回收凭借雄厚的经济实力及多元化动作，郑州同城旧货回收凭借雄厚的经济实力及多元化动作</p>
                <a href="">查看详情， 更多惊喜</a>
            </div>
            <div class="vip-item">
                <dl>
                    <dt>个人</dt>
                    <dd>服务范畴：物品回收</dd>
                    <dd>联系方式：15825517070</dd>
                </dl>
                <p>淘奢网是一家信守承诺，讲信用的奢侈品回收公司。淘奢网是一家信守承诺，讲信用的奢侈品回收公司</p>
                <a href="">查看详情， 更多惊喜</a>
            </div>
            <div class="vip-item">
                <dl>
                    <dt>郑州市凯达金属回收有限公司</dt>
                    <dd>服务范畴：物品回收</dd>
                    <dd>联系方式：18637171236</dd>
                </dl>
                <p>郑州同城旧货回收凭借雄厚的经济实力及多元化动作，郑州同城旧货回收凭借雄厚的经济实力及多元化动作</p>
                <a href="">查看详情， 更多惊喜</a>
            </div>
            <div class="vip-item">
                <dl>
                    <dt>个人</dt>
                    <dd>服务范畴：物品回收</dd>
                    <dd>联系方式：15825517070</dd>
                </dl>
                <p>淘奢网是一家信守承诺，讲信用的奢侈品回收公司。淘奢网是一家信守承诺，讲信用的奢侈品回收公司</p>
                <a href="">查看详情， 更多惊喜</a>
            </div>
            <div class="vip-item">
                <dl>
                    <dt>郑州市凯达金属回收有限公司</dt>
                    <dd>服务范畴：物品回收</dd>
                    <dd>联系方式：18637171236</dd>
                </dl>
                <p>郑州同城旧货回收凭借雄厚的经济实力及多元化动作，郑州同城旧货回收凭借雄厚的经济实力及多元化动作</p>
                <a href="">查看详情， 更多惊喜</a>
            </div>
            <div class="vip-item">
                <dl>
                    <dt>个人</dt>
                    <dd>服务范畴：物品回收</dd>
                    <dd>联系方式：15825517070</dd>
                </dl>
                <p>淘奢网是一家信守承诺，讲信用的奢侈品回收公司。淘奢网是一家信守承诺，讲信用的奢侈品回收公司</p>
                <a href="">查看详情， 更多惊喜</a>
            </div>
        </div>
    </main>


    <footer class="footer-bar">
        <div class="main-box">
            <img src="./assets/img/logo.png" alt="" srcset="">
            <div>
                <p>夫子庙校区：南京市秦淮区龙蟠中路458号通济产业园北区2栋1层</p>
                <p>Copyright (C) 2002-2019 itany.com 南京市网博优壹职业培训学校 苏ICP备 苏ICP备1606</p>
            </div>
            <i class="record rec1"></i>
            <i class="record rec2"></i>
            <i class="record rec3"></i>
            <i class="record rec4"></i>
            <i class="record rec5"></i>
        </div>
    </footer>

    <!-- 弹出插件 -->
    <script src="./assets/plugins/coco-modal.js"></script>
    <!-- 页面基础共享JS加载 -->
    <script src="./assets/js/base.js"></script>
    <!-- 当前页面独享JS加载 -->
    <script src="./assets/js/pages/vip-list.js"></script>
</body>

</html>