<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vip服务</title>
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/font/iconfont.css">
</head>

<body>
    <header class="header-bar">
        <nav class="bar-link">
            <div class="city">城市：<span>南京</span></div>
            <ul class="btns">
                <li class="user-info">
                    <span>张三</span>
                    <a href="./back-manager.html">[ 个人中心 ]</a>
                    <a href="#">[ 退出登录 ]</a>
                </li>
                <li><a href="./action.html#register">注册</a></li>
                <li><a href="./action.html#login">登录</a></li>
                <li><a href="./index.html">首页</a></li>
                <li>
                    商户推广
                    <i class="iconfont icon-arrow-down"></i>
                    <ul class="down-list-box">
                        <!-- 通过锚点快速定位 -->
                        <li><a href="./vip.html#level1">VIP-体验版</a></li>
                        <li><a href="./vip.html#level2">VIP-初级版</a></li>
                        <li><a href="./vip.html#level3">VIP-中级版</a></li>
                        <li><a href="./vip.html#level4">VIP-高级版</a></li>
                    </ul>
                </li>
                <li><a target="_black" href="https://www.itany.com">联系客服</a></li>
                <li><a target="_black" href="https://www.itany.com">帮助</a></li>
            </ul>
        </nav>
    </header>
    <main class="vip-box">
        <section class="banner-box">
            <img src="./assets/img/vip/top.png" alt="">
        </section>
        <section class="main-box tip-box">
            <div class="tip-title">为什么要做VIP?</div>
            <div class="tip-info">
                <div>
                    <p class="tip-data">
                        <span>15</span>
                        <span>15年广告投放经验</span>
                    </p>
                    <div class="tip-desc">
                        <div>
                            <div class="icon1">
                                <img src="./assets/img/vip/01.png" alt="" srcset="">
                            </div>
                            <div class="info">
                                <span class="c1">快</span>
                                快速发帖：20分钟千量级帖子<br>
                                快速收录：最快72小时上词
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="tip-data">
                        <span>100+</span>
                        <span>100+产品研发团队</span>
                    </p>
                    <div class="tip-desc">
                        <div>
                            <div class="icon2">
                                <img src="./assets/img/vip/02.png" alt="" srcset="">
                            </div>
                            <div class="info">
                                <span class="c2">准</span>
                                精准布词：AI大数据关键词优选推荐<br>
                                精准获客：智能接待系统，匹配客源
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="tip-data">
                        <span>500+</span>
                        <span>500+全国代理商</span>
                    </p>
                    <div class="tip-desc">
                        <div>
                            <div class="icon3">
                                <img src="./assets/img/vip/03.png" alt="" srcset="">
                            </div>
                            <div class="info">
                                <span class="c3">稳</span>
                                排名稳定：基于权重高，收录排名长期稳定<br>
                                展示稳定：提供高质量内容，多种落地页覆盖，展示更稳定
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="tip-data">
                        <span>200,000,000+</span>
                        <span>200,000,000+用户选择</span>
                    </p>
                    <div class="tip-desc">
                        <div>
                            <div class="icon4">
                                <img src="./assets/img/vip/04.png" alt="" srcset="">
                            </div>
                            <div class="info">
                                <span class="c4">省</span>
                                省时省力：SEO代运营服务
                                省钱：套餐性价比高
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-box tip-box">
            <div class="tip-title">怎么开通VIP?</div>
            <div class="vip-level-box">
                <!-- ID用于跳转时的锚点定位，请勿删除 -->
                <div id="level1" class="vip-desc">
                    <div>
                        <div class="vip-icon icon1">
                            <img src="./assets/img/vip/vip-1.png" alt="">
                            <p>VIP-体验会员</p>
                        </div>
                        <dl class="vip-info">
                            <dt>会员特权</dt>
                            <dd>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-5.png" alt="">
                                        <p>发帖通</p>
                                    </div>
                                    <div>通过工具提升内容质量和工作效率。</div>
                                </div>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-6.png" alt="">
                                        <p>收录优化</p>
                                    </div>
                                    <div>最快3天上首页，排名稳定，排名结果可查。</div>
                                </div>
                            </dd>
                            <dt>会员价格</dt>
                            <dd class="vip-price">
                                <span>10元 / 3天</span>
                                <input class="btn" type="button" value="立即购买" onclick="openBuyModel('体验会员',10)">
                            </dd>
                        </dl>
                    </div>
                </div>
                <div id="level2" class="vip-desc">
                    <div>
                        <div class="vip-icon icon2">
                            <img src="./assets/img/vip/vip-2.png" alt="">
                            <p>VIP-初级会员</p>
                        </div>
                        <dl class="vip-info">
                            <dt>会员特权</dt>
                            <dd>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-4.png" alt="">
                                        <p>超级刷新</p>
                                    </div>
                                    <div>千元套餐万次刷新，单次刷新低至3折；免费刷新、循环刷新、预约刷新多种推广方式任意选。</div>
                                </div>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-5.png" alt="">
                                        <p>发帖通</p>
                                    </div>
                                    <div>通过工具提升内容质量和工作效率。</div>
                                </div>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-6.png" alt="">
                                        <p>收录优化</p>
                                    </div>
                                    <div>最快3天上首页，排名稳定，排名结果可查。</div>
                                </div>
                            </dd>
                            <dt>会员价格</dt>
                            <dd class="vip-price">
                                <span>50元 / 30天</span>
                                <input class="btn" type="button" value="立即购买" onclick="openBuyModel('初级会员',50)">
                            </dd>
                        </dl>
                    </div>
                </div>
                <div id="level3" class="vip-desc">
                    <div>
                        <div class="vip-icon icon3">
                            <img src="./assets/img/vip/vip-3.png" alt="">
                            <p>VIP-中级会员</p>
                        </div>
                        <dl class="vip-info">
                            <dt>会员特权</dt>
                            <dd>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-3.png" alt="">
                                        <p>黄金展位</p>
                                    </div>
                                    <div>黄金推广位日均超万次浏览量，VIP独享，为您提供最优质的曝光效果。</div>
                                </div>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-4.png" alt="">
                                        <p>超级刷新</p>
                                    </div>
                                    <div>千元套餐万次刷新，单次刷新低至3折；免费刷新、循环刷新、预约刷新多种推广方式任意选。</div>
                                </div>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-5.png" alt="">
                                        <p>发帖通</p>
                                    </div>
                                    <div>通过工具提升内容质量和工作效率。</div>
                                </div>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-6.png" alt="">
                                        <p>收录优化</p>
                                    </div>
                                    <div>最快3天上首页，排名稳定，排名结果可查。</div>
                                </div>
                            </dd>
                            <dt>会员价格</dt>
                            <dd class="vip-price">
                                <span>100元 / 180天</span>
                                <input class="btn" type="button" value="立即购买" onclick="openBuyModel('中级会员',100)">
                            </dd>
                        </dl>
                    </div>
                </div>
                <div id="level4" class="vip-desc">
                    <div>
                        <div class="vip-icon icon4">
                            <img src="./assets/img/vip/vip-4.png" alt="">
                            <p>VIP-高级会员</p>
                        </div>
                        <dl class="vip-info">
                            <dt>会员特权</dt>
                            <dd>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-1.png" alt="">
                                        <p>精品官网</p>
                                    </div>
                                    <div>电脑端专属域名，高端大气上档次；移动端专业大气，海量客户一触即达。</div>
                                </div>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-2.png" alt="">
                                        <p>钻石店铺</p>
                                    </div>
                                    <div>具备SEO优化功能落地页，提供AI优选词、AI内容发布。</div>
                                </div>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-3.png" alt="">
                                        <p>黄金展位</p>
                                    </div>
                                    <div>黄金推广位日均超万次浏览量，VIP独享，为您提供最优质的曝光效果。</div>
                                </div>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-4.png" alt="">
                                        <p>超级刷新</p>
                                    </div>
                                    <div>千元套餐万次刷新，单次刷新低至3折；免费刷新、循环刷新、预约刷新多种推广方式任意选。</div>
                                </div>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-5.png" alt="">
                                        <p>发帖通</p>
                                    </div>
                                    <div>通过工具提升内容质量和工作效率。</div>
                                </div>
                                <div class="vip-power">
                                    <div>
                                        <img src="./assets/img/vip/vip-icon-6.png" alt="">
                                        <p>收录优化</p>
                                    </div>
                                    <div>最快3天上首页，排名稳定，排名结果可查。</div>
                                </div>
                            </dd>
                            <dt>会员价格</dt>
                            <dd class="vip-price">
                                <span>200元 / 1年</span>
                                <input class="btn" type="button" value="立即购买" onclick="openBuyModel('高级会员',200)">
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer-bar">
        <div class="main-box">
            <img src="./assets/img/logo.png" alt="" srcset="">
            <div>
                <p>夫子庙校区：南京市秦淮区龙蟠中路458号通济产业园北区2栋1层</p>
                <p>Copyright (C) 2002-2019 itany.com 南京市网博优壹职业培训学校 苏ICP备 苏ICP备1606</p>
            </div>
            <i class="record rec1"></i>
            <i class="record rec2"></i>
            <i class="record rec3"></i>
            <i class="record rec4"></i>
            <i class="record rec5"></i>
        </div>
    </footer>

    <!-- 购买弹框内容 start-->
    <div class="buy-box" id="buyBox" style="display: none;">
        <div class="title">
            <span class="type"></span>
            <span>扫码支付</span>
        </div>
        <img src="./assets/img/vip/buy.png" alt="" srcset="">
        <div class="price"></div>
    </div>
    <!-- end -->

    <!-- 弹出插件 -->
    <script src="./assets/plugins/coco-modal.js"></script>
    <!-- 页面基础共享JS加载 -->
    <script src="./assets/js/base.js"></script>
    <!-- 当前页面独享JS加载 -->
    <script src="./assets/js/pages/vip.js"></script>
</body>

</html>